# Development requirements (excludes psycopg2-binary to avoid build issues on Windows)
fastapi==0.115.0
uvicorn[standard]==0.30.6
sqlalchemy==2.0.34
# psycopg2-binary removed for local dev on Windows
alembic==1.13.2

# Validation
pydantic==2.9.2

# Seguridad / JWT
passlib[bcrypt]==1.7.4
python-jose==3.3.0
python-multipart==0.0.9

# Machine Learning
joblib==1.4.2
scikit-learn==1.5.1
