@import "tailwindcss";

@import "tailwindcss";

@font-face {
  font-family: "NeverMindDisplayCondensed";
  src: url("./assets/fonts/NeverMindDisplayCondensed-Bold.ttf") format("truetype");
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: "NeverMindDisplayCondensed";
  src: url("./assets/fonts/NeverMindDisplayCondensed-DemiBold.ttf") format("truetype");
  font-weight: 600; /* DemiBold */
  font-style: normal;
}

@font-face {
  font-family: "NeverMindDisplayCondensed";
  src: url("./assets/fonts/NeverMindDisplayCondensed-Medium.ttf") format("truetype");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "NeverMindDisplayCondensed";
  src: url("./assets/fonts/NeverMindDisplayCondensed-Regular.ttf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: normal;
}